body{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}
.container,.container1,.container2 {
  width:600px;
  height: 350px;
  margin: auto;
  margin-top: 11%;
  border: 1px solid #B2BABB;
  border-left:4px solid #2ECC71;
}
.container1 {
  margin-top: 7%;
  height: 700px;
}
.container2 {
  margin-top: 9%;
  height: 550px;
}
h1,h3{
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}
p{
  text-align: center;
  font-size: 18px;
}
.transaction{
  width: 73%;
  padding: 12px;
  border-left: 3px solid #2ECC71;
  box-sizing: border-box;
  margin-top: 25px;
  color: #3d3d3d;
  margin-left:75px;
  background-color: #e7e7e7;
  outline: none;
  margin-bottom: 16px;
  font-size: 16.5px;
}
.transaction:hover{
  box-shadow: 0px 7px 0px #f6f6f648, 0px -5px 0px white, -3px 0px 6px rgb(0 0 0 / 20%);
}
input[type=button]{
  width: 25%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left:65%;
  background-color: #2ECC71;
  color: #FDFEFE ;
  margin-bottom: 16px;
  font-size: 16px;
}
input[type=submit]{
  width: 25%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-left:65%;
  background-color: #2ECC71;
  color: #FDFEFE ;
  margin-bottom: 16px;
  font-size: 16px;
}
#icon{
  font-size: 48px;
  color:#2ECC71;
  margin-top: 20px;
  margin-left: 45.3%;
}
label{
  margin-top: 25px;
  color: #3d3d3d;
  margin-left: 75px;
}
a {
  text-decoration: none;
}
input[type=text],[type=password]{
  width: 73%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  margin-top: 25px;
  margin-left:75px;
  color: #626567;
  outline: none;
  margin-bottom: 16px;
  font-size: 15px;
}
input[type=text]:hover{
  border-bottom: 2px solid #2ECC71;
  color:  #626567;
}
input[type=password]:hover{
  border-bottom: 2px solid #2ECC71;
  color:  #626567;
}
#hide,#show {
  margin-left: -30px;
  cursor: pointer;
  color: #626567;
}
