{{page-title "Index"}}
<div class="container"><br>
	<i class="fa fa-bank" id="icon"></i>
	<h1>ZOHO UPI-TRANSACTION</h1>
	<p>Welcome to our UPI-Transaction</p>
	<form>
		<LinkTo @route="transaction-type"><input type="button" value="Start"/></LinkTo>
	</form>
</div>
{{outlet}}